In [1]:
from twython import Twython
import pandas as pd
import unicodecsv as csv
#import json

In [2]:
CONSUMER_KEY = 'HHt41ypLnYY0WdV9Qpnze8Akm'
CONSUMER_SECRET = 'tDVYVL7mZe9fXHlSKRhKcDBA4bC4q3X9d7cUx8D888B8K3T3zt'
ACCESS_KEY = '3314682258-set94GPGL7ClnBJTr7as1HwhfAhwVxDWkOYC86Z'
ACCESS_SECRET = 'NrNuHxjtg8HRcpO1aVSZ8YI0B7QkIYu65mvzhJuYF28hT'
twitter = Twython(CONSUMER_KEY,CONSUMER_SECRET,ACCESS_KEY,ACCESS_SECRET)

### getting tweets

In [261]:
handles_list = ["nytimes", "TheSun", "thetimes",
                 "AP", "CNN", "BBCNews", "CNET", "msnuk",
                "Telegraph", "USATODAY", "WSJ", "washingtonpost", "BostonGlobe", "newscomauHQ",
                "SkyNews", "SFGate", "AJEnglish", "Independent", "guardian", "latimes", 
                "ReutersAgency", "ABC", "Bloomberg", "BW", "TIME"]

In [ ]:
tweets = twitter.get_user_timeline(screen_name = 'CNN', count=50, since)

In [43]:
#nytimes = twitter.get_user_timeline(screen_name="nytimes")
#thesun = twitter.get_user_timeline(screen_name="TheSun")
if not max_id:
    tweet_list = twitter.get_user_timeline(screen_name = 'nytimes', count=10)
else:
    tweet_list = twitter.get_user_timeline(screen_name = 'nytimes', since_id = max_id)

In [7]:
# dealing with urls in a nested list comprehension (doesn't count the empty ones)
#[url.get('url') for tweet in nytimes for url in tweet.get('entities').get('urls')]

In [36]:
urls = tweet_list[0].get('entities').get('urls')
if urls:
    url = urls[0].get('url')

In [37]:
url

u'https://t.co/54prNWrvqR'

In [ ]:
# dealing with urls
valid_urls = []
url_entities = [tweet.get('entities').get('urls') for tweet in tweets]
for entity in url_entities:
            if entity:
                valid_urls.append(entity[0].get('url'))
            else:
                valid_urls.append('')

In [44]:
tweets = []
for num in range(0,len(tweet_list)):
    current_tweet = []
    current_tweet.append(tweet_list[num].get('id'))
    current_tweet.append(tweet_list[num].get('created_at'))
    current_tweet.append(tweet_list[num].get('user').get('name'))
    current_tweet.append(tweet_list[num].get('text'))
    # dealing with urls
    urls = tweet_list[num].get('entities').get('urls')
    if urls:
        url = urls[0].get('url')
    else:
        url = ''
    current_tweet.append(url)
    current_tweet.append(tweet_list[num].get('retweet_count'))
    tweets.append(current_tweet)

In [45]:
tweets

[[785285212221702145,
  u'Mon Oct 10 01:05:59 +0000 2016',
  u'The New York Times',
  u'RT @FrankBruni: Join a bunch of us from @nytopinion doing live debate chat/analysis. Should be some night. Yeesh. https://t.co/hVm7lq0MCY',
  u'https://t.co/hVm7lq0MCY',
  8],
 [785284647894847492,
  u'Mon Oct 10 01:03:44 +0000 2016',
  u'The New York Times',
  u"Donald Trump and Hillary Clinton's 2nd debate is about to begin. Join us for live analysis, video and fact checks. https://t.co/WTqJhBWvLM",
  u'https://t.co/WTqJhBWvLM',
  64],
 [785283669527322624,
  u'Mon Oct 10 00:59:51 +0000 2016',
  u'The New York Times',
  u"RT @Yamiche: My latest: Some say anger over Trump video is this intense because he's offending white women &amp; not just minorities https://t.\u2026",
  '',
  70],
 [785282524717125634,
  u'Mon Oct 10 00:55:18 +0000 2016',
  u'The New York Times',
  u'Trump invited 3 of Bill Clinton\u2019s accusers to his debate with Hillary Clinton. Join us for analysis and fact checks. https://t.co/vJNNsgpAZQ',
  u'https://t.co/vJNNsgpAZQ',
  75],
 [785280483336880128,
  u'Mon Oct 10 00:47:11 +0000 2016',
  u'The New York Times',
  u"Ken Thompson, Brooklyn's first black district attorney, has died at 50, days after saying he had cancer\u2026 https://t.co/Jb0YEKhd51",
  u'https://t.co/Jb0YEKhd51',
  216],
 [785279898210471936,
  u'Mon Oct 10 00:44:52 +0000 2016',
  u'The New York Times',
  u"Join @nickconfessore @maggieNYT @adamnagourney &amp; @arappeport for live analysis of tonight's debate https://t.co/m0bSuYenVZ",
  u'https://t.co/m0bSuYenVZ',
  20],
 [785279109500903424,
  u'Mon Oct 10 00:41:44 +0000 2016',
  u'The New York Times',
  u'Sarah Jessica Parker, leaving Carrie Bradshaw behind with HBO\u2019s "Divorce" https://t.co/K8PSNG91S1 https://t.co/KAe4kv7RRq',
  u'https://t.co/K8PSNG91S1',
  50],
 [785275258580398080,
  u'Mon Oct 10 00:26:26 +0000 2016',
  u'The New York Times',
  u'Billy Bush has been suspended by NBC two days after a video showed him exchanging lewd remarks with Donald Trump https://t.co/SsLtghZT3g',
  u'https://t.co/SsLtghZT3g',
  360],
 [785274661345103872,
  u'Mon Oct 10 00:24:03 +0000 2016',
  u'The New York Times',
  u'North Carolina residents had been hopeful that Hurricane Matthew would spare their state. Then the storm struck. https://t.co/FteTYSuSHA',
  u'https://t.co/FteTYSuSHA',
  80],
 [785272153088417792,
  u'Mon Oct 10 00:14:05 +0000 2016',
  u'The New York Times',
  u"Here's the growing list of Republicans who are breaking away from Donald Trump https://t.co/RzdrtHk21M",
  u'https://t.co/RzdrtHk21M',
  437]]

In [124]:
tweets = [[tweet.get('id'), tweet.get('created_at'), tweet.get('user').get('name'), 
                    tweet.get('text'), tweet.get('retweet_count'), tweet.get('favorite_count'),
                    ] for tweet in tweet_list]

In [125]:
tweets[0]

[784834640074969089,
 u'Sat Oct 08 19:15:34 +0000 2016',
 u'The Sun',
 u'Man arrested after \u2018sexually assaulting TEN women in an hour\u2019 in broad daylight in Manchester\u2026 https://t.co/YsTuEOSAMT',
 2,
 1]

In [42]:
max_id = 0

In [263]:
def get_tweets(handle,writer,max_id):
    CONSUMER_KEY = 'HHt41ypLnYY0WdV9Qpnze8Akm'
    CONSUMER_SECRET = 'tDVYVL7mZe9fXHlSKRhKcDBA4bC4q3X9d7cUx8D888B8K3T3zt'
    ACCESS_KEY = '3314682258-set94GPGL7ClnBJTr7as1HwhfAhwVxDWkOYC86Z'
    ACCESS_SECRET = 'NrNuHxjtg8HRcpO1aVSZ8YI0B7QkIYu65mvzhJuYF28hT'
    twitter = Twython(CONSUMER_KEY,CONSUMER_SECRET,ACCESS_KEY,ACCESS_SECRET)
    
    if max_id == 0:
        tweet_list = twitter.get_user_timeline(screen_name = handle, count=1)
    else:
        tweet_list = twitter.get_user_timeline(screen_name = handle, since_id = max_id)
    
    if tweet_list:
        # dealing with urls
        valid_urls = []
        url_entities = [tweet.get('entities').get('urls') for tweet in tweets]
        for entity in url_entities:
            if entity:
                valid_urls.append(entity[0].get('url'))
            else:
                valid_urls.append('')
        tweets = [[tweet.get('id'), tweet.get('created_at'), tweet.get('user').get('name'), 
                   tweet.get('text').encode("utf-8"), tweet.get('retweet_count')] 
                  for tweet in tweet_list]
        max_id = max([tweet.get('id') for tweet in tweet_list])
        writer.writerows(tweets)
    return max_id

In [273]:
max_ids = []
if __name__ == '__main__':
    with open('all_tweets.csv', 'w') as f_all:
        writer = csv.writer(f_all)
        writer.writerow(["id","created_at","user","text","retweet_count"])
        for handle in handles_list:
            max_ids.append(get_tweets(handle, writer, max_id))
            print "\b.",
        print 'Done!'
max_id = max(max_ids)

. . . . . . . . . . . . . . . . . . . . . . . . . Done!

In [226]:
max_id

784877428904644608

In [274]:
df_tweets = pd.read_csv('all_tweets.csv')

In [275]:
df_tweets.shape

(30, 5)

In [276]:
df_tweets

,id,created_at,user,text,retweet_count
0,784900097758879744,Sat Oct 08 23:35:40 +0000 2016,The New York Times,"""If you snicker or say nothing while your fell...",226
1,784901694249398272,Sat Oct 08 23:42:01 +0000 2016,The Sun,Wow! Georgia May Foote shares steamy kiss with...,0
2,784899177268543488,Sat Oct 08 23:32:01 +0000 2016,The Sun,The 9 unanswered questions about the Kim Karda...,0
3,784898672832184320,Sat Oct 08 23:30:00 +0000 2016,The Sun,Make every day easier with life hacks that act...,1
4,784896661831184384,Sat Oct 08 23:22:01 +0000 2016,The Sun,.@Megan_Mckenna_ makes a big change after @P_W...,1
5,784901385385050112,Sat Oct 08 23:40:47 +0000 2016,The Associated Press,Latest: Palm Springs police say shooting of 3 ...,43
6,784899028962185216,Sat Oct 08 23:31:25 +0000 2016,The Associated Press,United Nations says heath officials in Yemen s...,87
7,784898939195650048,Sat Oct 08 23:31:04 +0000 2016,The Associated Press,Leaked campaign emails show 'moderate' side of...,46
8,784901396369960968,Sat Oct 08 23:40:50 +0000 2016,CNN,"""Don't tell me you're offended when I say 'p**...",102
9,784896328153300996,Sat Oct 08 23:20:41 +0000 2016,CNN,"""He’s a punk. He’s a dog. He’s a pig… I’d like...",726
10,784898730239619073,Sat Oct 08 23:30:14 +0000 2016,USA TODAY,A coalition of former elite gymnasts demand US...,27
11,784896907462205440,Sat Oct 08 23:23:00 +0000 2016,Wall Street Journal,Tesla seeks permission to double size of Calif...,40
12,784897673484759040,Sat Oct 08 23:26:02 +0000 2016,Washington Post,"A six-year-old asks: ""What does it mean to gra...",187
13,784897412217368576,Sat Oct 08 23:25:00 +0000 2016,Washington Post,A tumultuous day in the life of a Republican S...,17
14,784896672233127936,Sat Oct 08 23:22:03 +0000 2016,Washington Post,A toxic whirlpool for the GOP: Scripted Trump ...,43
15,784897145249857541,Sat Oct 08 23:23:56 +0000 2016,The Boston Globe,"""Hey, Donald! Did you kiss your mother with th...",19
16,784901654755811328,Sat Oct 08 23:41:51 +0000 2016,news.com.au,Live: The 2016 Supercheap Auto Bathurst 1000 h...,0
17,784896511826157569,Sat Oct 08 23:21:25 +0000 2016,news.com.au,Wright on track for surfing crown https://t.co...,1
18,784899378976731137,Sat Oct 08 23:32:49 +0000 2016,SFGate,Sen. McCain drops support for Trump; will vote...,3
19,784899360140079104,Sat Oct 08 23:32:44 +0000 2016,SFGate,3 rescued from apartment fire in SF’s Sunset D...,0
20,784899929739190272,Sat Oct 08 23:35:00 +0000 2016,The Independent,The Syrian refugee hunting down Isis militants...,10
21,784901629640339456,Sat Oct 08 23:41:45 +0000 2016,The Guardian,"Tourism, cheese and Nordic noir: how football ...",2
22,784901251083403264,Sat Oct 08 23:40:15 +0000 2016,The Guardian,Why the prissy reaction to Ferrante being unma...,0
23,784901250890473473,Sat Oct 08 23:40:15 +0000 2016,The Guardian,Africa must not become one big game park | Pat...,8
24,784901250861133824,Sat Oct 08 23:40:15 +0000 2016,The Guardian,Donald Trump apologises for sex boast tape htt...,7
25,784901745914839040,Sat Oct 08 23:42:13 +0000 2016,Los Angeles Times,Palm Springs police are saying a second office...,18
26,784901204971249664,Sat Oct 08 23:40:04 +0000 2016,Los Angeles Times,UFC 204: Live updates and coverage from Bispin...,2
27,784897437752258560,Sat Oct 08 23:25:06 +0000 2016,Los Angeles Times,Sarah Palin is still sticking with Trump despi...,35
28,784898863425617920,Sat Oct 08 23:30:46 +0000 2016,ABC News,Nancy O’Dell responds to lewd comments made ab...,48
29,784898698119680000,Sat Oct 08 23:30:07 +0000 2016,TIME,People who start to watch porn more likely to ...,29

In [47]:
batch = 0
numb = 5

In [48]:
print "starting batch %d: fetching tweets for numb %d" % (batch, numb)

starting batch 0: fetching tweets for numb 5